-- DropForeignKey
ALTER TABLE "applicant_addresses" DROP CONSTRAINT "applicant_addresses_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_assessments" DROP CONSTRAINT "applicant_assessments_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_checklists" DROP CONSTRAINT "applicant_checklists_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_checklists" DROP CONSTRAINT "applicant_checklists_updated_by_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_documents" DROP CONSTRAINT "applicant_documents_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_documents" DROP CONSTRAINT "applicant_documents_uploaded_by_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_documents" DROP CONSTRAINT "applicant_documents_verified_by_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_family_members" DROP CONSTRAINT "applicant_family_members_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_previous_schools" DROP CONSTRAINT "applicant_previous_schools_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "applicant_program_details" DROP CONSTRAINT "applicant_program_details_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "applicants" DROP CONSTRAINT "applicants_encoded_by_id_fkey";

-- DropForeignKey
ALTER TABLE "applicants" DROP CONSTRAINT "applicants_grade_level_id_fkey";

-- DropForeignKey
ALTER TABLE "applicants" DROP CONSTRAINT "applicants_school_year_id_fkey";

-- DropForeignKey
ALTER TABLE "early_registrant_guardians" DROP CONSTRAINT "early_registrant_guardians_registrant_id_fkey";

-- DropForeignKey
ALTER TABLE "early_registrations" DROP CONSTRAINT "early_registrations_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "early_registrations" DROP CONSTRAINT "early_registrations_encoded_by_id_fkey";

-- DropForeignKey
ALTER TABLE "early_registrations" DROP CONSTRAINT "early_registrations_grade_level_id_v2_fkey";

-- DropForeignKey
ALTER TABLE "early_registrations" DROP CONSTRAINT "early_registrations_registrant_id_fkey";

-- DropForeignKey
ALTER TABLE "early_registrations" DROP CONSTRAINT "early_registrations_school_year_id_fkey";

-- DropForeignKey
ALTER TABLE "early_registrations" DROP CONSTRAINT "early_registrations_verified_by_id_fkey";

-- DropForeignKey
ALTER TABLE "email_logs" DROP CONSTRAINT "email_logs_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "enrollments" DROP CONSTRAINT "enrollments_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "enrollments" DROP CONSTRAINT "enrollments_enrolled_by_id_fkey";

-- DropForeignKey
ALTER TABLE "enrollments" DROP CONSTRAINT "enrollments_school_year_id_fkey";

-- DropForeignKey
ALTER TABLE "enrollments" DROP CONSTRAINT "enrollments_section_id_fkey";

-- DropForeignKey
ALTER TABLE "health_records" DROP CONSTRAINT "health_records_applicant_id_fkey";

-- DropIndex
DROP INDEX "idx_audit_logs_user_created";

-- DropIndex
DROP INDEX "health_records_applicant_id_school_year_id_assessment_perio_key";

-- DropIndex
DROP INDEX "idx_health_records_applicant_id";

-- DropIndex
DROP INDEX "idx_health_records_applicant_sy";

-- DropIndex
DROP INDEX "idx_health_records_recorded_by_id";

-- AlterTable
ALTER TABLE "email_logs" DROP COLUMN "applicant_id",
ADD COLUMN     "application_id" INTEGER;

-- AlterTable
ALTER TABLE "health_records" DROP COLUMN "applicant_id",
ADD COLUMN     "learner_id" INTEGER NOT NULL;

-- DropTable
DROP TABLE "applicant_addresses";

-- DropTable
DROP TABLE "applicant_assessments";

-- DropTable
DROP TABLE "applicant_checklists";

-- DropTable
DROP TABLE "applicant_documents";

-- DropTable
DROP TABLE "applicant_family_members";

-- DropTable
DROP TABLE "applicant_previous_schools";

-- DropTable
DROP TABLE "applicant_program_details";

-- DropTable
DROP TABLE "applicants";

-- DropTable
DROP TABLE "early_registrant_guardians";

-- DropTable
DROP TABLE "early_registrants";

-- DropTable
DROP TABLE "early_registrations";

-- DropTable
DROP TABLE "enrollments";

-- DropEnum
DROP TYPE "early_registration_lifecycle_status";

-- CreateTable
CREATE TABLE "learners" (
    "id" SERIAL NOT NULL,
    "lrn" VARCHAR(12),
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "middle_name" TEXT,
    "extension_name" TEXT,
    "birthdate" DATE NOT NULL,
    "sex" "sex" NOT NULL,
    "place_of_birth" TEXT,
    "religion" TEXT,
    "mother_tongue" TEXT,
    "is_ip_community" BOOLEAN NOT NULL DEFAULT false,
    "ip_group_name" TEXT,
    "is_learner_with_disability" BOOLEAN NOT NULL DEFAULT false,
    "disability_types" TEXT[],
    "is_4ps_beneficiary" BOOLEAN NOT NULL DEFAULT false,
    "household_id_4ps" TEXT,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ NOT NULL,

    CONSTRAINT "learners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "early_registration_applications" (
    "id" SERIAL NOT NULL,
    "learner_id" INTEGER NOT NULL,
    "school_year_id" INTEGER NOT NULL,
    "grade_level_id" INTEGER NOT NULL,
    "tracking_number" TEXT NOT NULL,
    "applicant_type" "applicant_type" NOT NULL DEFAULT 'REGULAR',
    "learner_type" "learner_type" NOT NULL DEFAULT 'NEW_ENROLLEE',
    "status" "application_status" NOT NULL DEFAULT 'SUBMITTED',
    "channel" "admission_channel" NOT NULL DEFAULT 'ONLINE',
    "contact_number" TEXT NOT NULL,
    "email" TEXT,
    "primary_contact" "primary_contact_type",
    "is_privacy_consent_given" BOOLEAN NOT NULL,
    "encoded_by_id" INTEGER,
    "verified_at" TIMESTAMPTZ,
    "verified_by_id" INTEGER,
    "submitted_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ NOT NULL,

    CONSTRAINT "early_registration_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "early_registration_guardians" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "relationship" "family_relationship" NOT NULL,
    "last_name" TEXT NOT NULL,
    "first_name" TEXT NOT NULL,
    "middle_name" TEXT,
    "contact_number" TEXT,
    "email" TEXT,
    "occupation" TEXT,

    CONSTRAINT "early_registration_guardians_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "early_registration_documents" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "document_type" "document_type" NOT NULL,
    "status" "document_status" NOT NULL DEFAULT 'SUBMITTED',
    "file_name" TEXT,
    "original_name" TEXT,
    "mime_type" TEXT,
    "size" INTEGER,
    "verification_note" TEXT,
    "uploaded_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "early_registration_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "early_registration_assessments" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "assessment_kind" "assessment_kind" NOT NULL,
    "scheduled_date" DATE,
    "scheduled_time" TEXT,
    "venue" TEXT,
    "score" DOUBLE PRECISION,
    "result" TEXT,
    "notes" TEXT,
    "conducted_at" TIMESTAMPTZ,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "early_registration_assessments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_applications" (
    "id" SERIAL NOT NULL,
    "learner_id" INTEGER NOT NULL,
    "early_registration_id" INTEGER,
    "school_year_id" INTEGER NOT NULL,
    "grade_level_id" INTEGER NOT NULL,
    "applicant_type" "applicant_type" NOT NULL DEFAULT 'REGULAR',
    "learner_type" "learner_type" NOT NULL DEFAULT 'NEW_ENROLLEE',
    "status" "application_status" NOT NULL DEFAULT 'SUBMITTED',
    "admission_channel" "admission_channel" NOT NULL DEFAULT 'ONLINE',
    "tracking_number" TEXT,
    "student_photo" TEXT,
    "is_balik_aral" BOOLEAN NOT NULL DEFAULT false,
    "last_year_enrolled" TEXT,
    "special_needs_category" TEXT,
    "has_pwd_id" BOOLEAN NOT NULL DEFAULT false,
    "learning_modalities" TEXT[],
    "is_temporarily_enrolled" BOOLEAN NOT NULL DEFAULT false,
    "documentary_deadline_at" DATE,
    "compliance_status" "compliance_status",
    "rejection_reason" TEXT,
    "is_privacy_consent_given" BOOLEAN NOT NULL DEFAULT false,
    "portal_pin" TEXT,
    "portal_pin_changed_at" TIMESTAMPTZ,
    "encoded_by_id" INTEGER,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ NOT NULL,

    CONSTRAINT "enrollment_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_addresses" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "address_type" "address_type" NOT NULL,
    "house_no" TEXT,
    "street" TEXT,
    "sitio" TEXT,
    "barangay" TEXT,
    "city_municipality" TEXT,
    "province" TEXT,
    "country" TEXT DEFAULT 'PHILIPPINES',
    "zip_code" TEXT,

    CONSTRAINT "enrollment_addresses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_family_members" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "relationship" "family_relationship" NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "middle_name" TEXT,
    "contact_number" TEXT,
    "email" TEXT,
    "occupation" TEXT,

    CONSTRAINT "enrollment_family_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_previous_schools" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "school_name" TEXT,
    "school_deped_id" TEXT,
    "grade_completed" TEXT,
    "school_year_attended" TEXT,
    "school_address" TEXT,
    "school_type" TEXT,
    "nat_score" DOUBLE PRECISION,
    "general_average" DOUBLE PRECISION,

    CONSTRAINT "enrollment_previous_schools_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_program_details" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "scp_type" "applicant_type" NOT NULL,
    "art_field" TEXT,
    "foreign_language" TEXT,
    "sports_list" TEXT[],

    CONSTRAINT "enrollment_program_details_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_documents" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "document_type" "document_type" NOT NULL,
    "status" "document_status" NOT NULL DEFAULT 'SUBMITTED',
    "file_name" TEXT,
    "original_name" TEXT,
    "mime_type" TEXT,
    "size" INTEGER,
    "verification_note" TEXT,
    "is_presented_only" BOOLEAN NOT NULL DEFAULT false,
    "uploaded_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "uploaded_by_id" INTEGER,
    "verified_at" TIMESTAMPTZ,
    "verified_by_id" INTEGER,

    CONSTRAINT "enrollment_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_checklists" (
    "id" SERIAL NOT NULL,
    "application_id" INTEGER NOT NULL,
    "is_psa_birth_cert_presented" BOOLEAN NOT NULL DEFAULT false,
    "is_original_psa_bc_collected" BOOLEAN NOT NULL DEFAULT false,
    "is_sf9_submitted" BOOLEAN NOT NULL DEFAULT false,
    "is_sf10_requested" BOOLEAN NOT NULL DEFAULT false,
    "is_good_moral_presented" BOOLEAN NOT NULL DEFAULT false,
    "is_medical_eval_submitted" BOOLEAN NOT NULL DEFAULT false,
    "is_cert_of_recognition_presented" BOOLEAN NOT NULL DEFAULT false,
    "is_undertaking_signed" BOOLEAN NOT NULL DEFAULT false,
    "is_confirmation_slip_received" BOOLEAN NOT NULL DEFAULT false,
    "updated_at" TIMESTAMPTZ NOT NULL,
    "updated_by_id" INTEGER,

    CONSTRAINT "enrollment_checklists_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "enrollment_records" (
    "id" SERIAL NOT NULL,
    "enrollment_application_id" INTEGER NOT NULL,
    "section_id" INTEGER NOT NULL,
    "school_year_id" INTEGER NOT NULL,
    "enrolled_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "enrolled_by_id" INTEGER NOT NULL,

    CONSTRAINT "enrollment_records_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "uq_learners_lrn" ON "learners"("lrn");

-- CreateIndex
CREATE INDEX "idx_learners_dedup" ON "learners"("last_name", "first_name", "birthdate");

-- CreateIndex
CREATE UNIQUE INDEX "uq_early_reg_tracking_number" ON "early_registration_applications"("tracking_number");

-- CreateIndex
CREATE INDEX "idx_early_reg_sy_status" ON "early_registration_applications"("school_year_id", "status");

-- CreateIndex
CREATE INDEX "idx_early_reg_tracking_no" ON "early_registration_applications"("tracking_number");

-- CreateIndex
CREATE UNIQUE INDEX "early_registration_applications_learner_id_school_year_id_key" ON "early_registration_applications"("learner_id", "school_year_id");

-- CreateIndex
CREATE INDEX "idx_early_reg_guardians_app_id" ON "early_registration_guardians"("application_id");

-- CreateIndex
CREATE INDEX "idx_early_reg_docs_app_id" ON "early_registration_documents"("application_id");

-- CreateIndex
CREATE INDEX "idx_early_reg_assessments_app_id" ON "early_registration_assessments"("application_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_enrollment_tracking_number" ON "enrollment_applications"("tracking_number");

-- CreateIndex
CREATE INDEX "idx_enrollment_apps_status_sy" ON "enrollment_applications"("status", "school_year_id");

-- CreateIndex
CREATE UNIQUE INDEX "enrollment_addresses_application_id_address_type_key" ON "enrollment_addresses"("application_id", "address_type");

-- CreateIndex
CREATE UNIQUE INDEX "enrollment_family_members_application_id_relationship_key" ON "enrollment_family_members"("application_id", "relationship");

-- CreateIndex
CREATE UNIQUE INDEX "uq_enrollment_prev_school_app_id" ON "enrollment_previous_schools"("application_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_enrollment_prog_detail_app_id" ON "enrollment_program_details"("application_id");

-- CreateIndex
CREATE INDEX "idx_enrollment_docs_app_id" ON "enrollment_documents"("application_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_enrollment_checklist_app_id" ON "enrollment_checklists"("application_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_enroll_record_app_id" ON "enrollment_records"("enrollment_application_id");

-- CreateIndex
CREATE INDEX "idx_enroll_records_section_id" ON "enrollment_records"("section_id");

-- CreateIndex
CREATE INDEX "idx_health_records_learner_id" ON "health_records"("learner_id");

-- CreateIndex
CREATE UNIQUE INDEX "health_records_learner_id_school_year_id_assessment_period_key" ON "health_records"("learner_id", "school_year_id", "assessment_period");

-- AddForeignKey
ALTER TABLE "early_registration_applications" ADD CONSTRAINT "early_registration_applications_learner_id_fkey" FOREIGN KEY ("learner_id") REFERENCES "learners"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "early_registration_applications" ADD CONSTRAINT "early_registration_applications_school_year_id_fkey" FOREIGN KEY ("school_year_id") REFERENCES "school_years"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "early_registration_applications" ADD CONSTRAINT "early_registration_applications_grade_level_id_fkey" FOREIGN KEY ("grade_level_id") REFERENCES "grade_levels"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "early_registration_applications" ADD CONSTRAINT "early_registration_applications_encoded_by_id_fkey" FOREIGN KEY ("encoded_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "early_registration_applications" ADD CONSTRAINT "early_registration_applications_verified_by_id_fkey" FOREIGN KEY ("verified_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "early_registration_guardians" ADD CONSTRAINT "early_registration_guardians_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "early_registration_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "early_registration_documents" ADD CONSTRAINT "early_registration_documents_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "early_registration_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "early_registration_assessments" ADD CONSTRAINT "early_registration_assessments_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "early_registration_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_applications" ADD CONSTRAINT "enrollment_applications_learner_id_fkey" FOREIGN KEY ("learner_id") REFERENCES "learners"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_applications" ADD CONSTRAINT "enrollment_applications_early_registration_id_fkey" FOREIGN KEY ("early_registration_id") REFERENCES "early_registration_applications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_applications" ADD CONSTRAINT "enrollment_applications_school_year_id_fkey" FOREIGN KEY ("school_year_id") REFERENCES "school_years"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_applications" ADD CONSTRAINT "enrollment_applications_grade_level_id_fkey" FOREIGN KEY ("grade_level_id") REFERENCES "grade_levels"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_applications" ADD CONSTRAINT "enrollment_applications_encoded_by_id_fkey" FOREIGN KEY ("encoded_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_addresses" ADD CONSTRAINT "enrollment_addresses_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "enrollment_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_family_members" ADD CONSTRAINT "enrollment_family_members_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "enrollment_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_previous_schools" ADD CONSTRAINT "enrollment_previous_schools_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "enrollment_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_program_details" ADD CONSTRAINT "enrollment_program_details_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "enrollment_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_documents" ADD CONSTRAINT "enrollment_documents_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "enrollment_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_documents" ADD CONSTRAINT "enrollment_documents_uploaded_by_id_fkey" FOREIGN KEY ("uploaded_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_documents" ADD CONSTRAINT "enrollment_documents_verified_by_id_fkey" FOREIGN KEY ("verified_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_checklists" ADD CONSTRAINT "enrollment_checklists_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "enrollment_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_checklists" ADD CONSTRAINT "enrollment_checklists_updated_by_id_fkey" FOREIGN KEY ("updated_by_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_records" ADD CONSTRAINT "enrollment_records_school_year_id_fkey" FOREIGN KEY ("school_year_id") REFERENCES "school_years"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_records" ADD CONSTRAINT "enrollment_records_enrollment_application_id_fkey" FOREIGN KEY ("enrollment_application_id") REFERENCES "enrollment_applications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_records" ADD CONSTRAINT "enrollment_records_enrolled_by_id_fkey" FOREIGN KEY ("enrolled_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "enrollment_records" ADD CONSTRAINT "enrollment_records_section_id_fkey" FOREIGN KEY ("section_id") REFERENCES "sections"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "email_logs" ADD CONSTRAINT "email_logs_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "enrollment_applications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "health_records" ADD CONSTRAINT "health_records_learner_id_fkey" FOREIGN KEY ("learner_id") REFERENCES "learners"("id") ON DELETE CASCADE ON UPDATE CASCADE;

